<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Do not falsify information in wikis</p>
    <ul>
      <li>We can't really stop you.</li>
      <li>But Xmas is coming.</li>
      <li>Santa sees ALL.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>

<div>
  <p>This site supports styling your text with italics, headers, and more.</p>
  <p>Click the link for info on how to use
    <%= link_to 'Markdown', 'https://guides.github.com/features/mastering-markdown/',
    target: '_blank', rel: 'noopener' %>
    to style your text.</p>
</div>

<div>
  <%= link_to "add or update collaborators for this wiki?",
  new_wiki_collaboration_path(@wiki), class: 'btn btn-success' %>
</div>

<div>
  <% unless @wiki.collab_users.empty? %>
  <small>Wiki has collaborators</small>
  <% end %>
  <ul>current collaborators:
    <%= @wiki.collaborations.each do |c| %>
      <li> <%= link_to "Remove #{c.user.email} as Collaborator", wiki_collaboration_path(@wiki, c),
      method: :delete, class: 'btn btn-danger',
      data: { confirm: 'Are you sure you want to remove this collaborator?' } %> </li>
    <% end %>
  </ul>
</div>
