<div>
  <% User.all.each do |u| %>
    <small><%= u.email %> | user id #: <%= u.id %></small>
    <br>
  <% end %>
</div>

<div>
  <h1>oh look hey form</h1>
  <%= form_for @collab, url: wiki_collaborations_path(wiki_id: @wiki.id) do |f| %>
    <%= f.select :email, options_for_select(User.pluck(:email), disabled: ["Select One"]) %>
    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
</div>

<!-- make a link back to wiki -->
